<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 映射器要求：命名空间为映射器（接口）的完整名 -->
<mapper namespace="com.dao.DLTDao">


	<insert id="insertDLTNums" parameterType="map">
		INSERT INTO TBL_DLT (red1,red2,red3,red4,red5,blue1,blue2,periodNum)
		VALUES (#{red1},#{red2},#{red3},#{red4},#{red5},#{blue1},#{blue2},#{periodNum})
	</insert>	

	<update id="1" parameterType="map">

	</update>
	
</mapper>